replicaCount: 2

image:
  repository: 319867767576.dkr.ecr.ap-northeast-2.amazonaws.com/onboarding
  tag: 2aafb01
  pullPolicy: Always
  # Legacy blue/green support (deprecated)
  blue: 319867767576.dkr.ecr.ap-northeast-2.amazonaws.com/onboarding:latest
  green: 319867767576.dkr.ecr.ap-northeast-2.amazonaws.com/onboarding:latest

serviceAccount:
  create: true
  name: ""

secret:
  enabled: false
  name: ""
  data: {}

persistence:
  enabled: false
  accessModes:
    - ReadWriteOnce
  size: 1Gi
  storageClass: ""

service:
  type: ClusterIP
  port: 80

hpa:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

pdb:
  enabled: true
  minAvailable: 1
  maxUnavailable: null

ingress:
  enabled: true
  className: "alb"
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  path: /
  pathType: ImplementationSpecific
  tls: [] 

pvc:
  accessMode: ReadWriteOnce
  size: 1Gi
  storageClassName: gp3

pv:
  size: 1Gi
  accessMode: ReadWriteOnce
  hostPath: /mnt/data/nginx

indexConfigMapName: nginx-index 